.Boss {
  background-color: #fff;
  border: 1px solid #000;
  margin: 0 .5em .5em 0;
  padding: .25em;
  width: 100%;
}

.Boss__CastBar {
  height: 2rem;
  width: 100%;
}

.Boss__Name {
  margin: .2em 0 .4em;
}

.Boss__HealthBar {
  width: 100%;
}
