@import url(node_modules/normalize.css/normalize.css);

@import url(containers/App/index.css);
/*@import url(containers/Root/index.css);*/
@import url(components/Boss/index.css);
@import url(components/HealthBar/index.css);
@import url(components/Player/index.css);
@import url(components/Team/index.css);
@import url(components/Unit/index.css);

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
