.Unit {
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 3em;
  margin: 0 .5em .5em 0;
  padding: .25em;
  width: 6em;
}

.Unit--dead {
  background: #000;
  color: #fff;
}

.Unit--target {
  outline: .2em solid gold;
}

.Unit__Health {
  width: 100%;
}

.Unit__Role {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
